<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar cliente</title>
</head>
<body>
    <form action="/customers" method="POST">
        <input type="text" name="name" placeholder="nome">
        <input type="text" name="job" placeholder="qual area">
        <input type="text" name="hiring" placeholder="data de admissão">
        <input type="submit" value="cadastrar cliente">
    </form>
    <br><br>
    <a href="/">Voltar</a>
</body>
</html>