<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cliente</title>
</head>
<body>
    <form action="/customers/update/<%= customer.id %>">
        <input type="text" name="name" class="form-control" value="<%= customer.name %>">
        <input type="text" name="job" class="form-control" value="<%= customer.job %>">
        <input type="text" name="hiring" class="form-control" value="<%= customer.hiring %>">
        <input type="submit" value="Editar cliente">
    </form>
    <a href="/">Voltar</a>
</body>
</html>