<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area de criação de cliente</title>
</head>
<body>
    <form action="/customers/create" method="POST">
        <h6>Criar cliente</h6><br><br>
        
        <input type="text" name="name" placeholder="Nome do cliente"><br>
        <input type="text" name="job" placeholder="Qual a função dele"><br>
        <input type="text" name="hiring" placeholder="A data que ele entrou (AAAA-MM-DD)"><br>
        <input type="submit" value="Criar cliente">
    </form>
</body>
</html>