html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}


/*nav bar*/
.barra-lateral{
    width: 8rem;
    height: 100%;
    background-color: #090909;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}
.linha{
    background-color: #fff;
    width: 4rem;
    height: .6rem;
    margin-bottom: .6rem;

}
.linha-1{
    margin-top:  3rem;
}

.linha-1, .linha-3{
    width: 2.8rem;
    transition: all .6s;
}

.menu:hover .linha{
    width: 4rem;
}
.ano{
    color: #d5d5d5;
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.navegacao{
    position: fixed;
    left: -32rem;
    width: 30rem;
    height: 100%;
    background: linear-gradient(to bottom,rgba(60,60,60, 1), rgba(85,85,85, .8));
    text-align: center;
    transition: left .8s;
}
.navegacao-titulo{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #f7f7f7;
    font-family: 'Times New Roman', Times, serif;
}
.navegacao-lista{
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.navegacao-item{
    position: relative;
}
.navegacao-link{
    color: #f7f7f7;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    transition: all .2s;
}
.navegacao-link:hover{
    color: #d5d5d5;
    font-size: 1.7rem;
}
.navegacao-link::before{
    content: "";
    width: 0rem;
    height:  .1rem;
    background-color:#d5d5d5;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1, 0 , 0 ,1);
}
.navegacao-link::after{
    content: "";
    width: 0rem;
    height:  .1rem;
    background-color: #d5d5d5;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1, 0 , 0 ,1);
}
.navegacao-link:hover::before,
.navegacao-link:hover::after{
    width: 3rem;
}
.checkbox:checked~ .navegacao{
    left: 8rem;
}

.checkbox:checked~ .barra-lateral .linha-1{
    transform: rotate(-405deg)translate(-5px,7px);
    width: 2.5rem;

}
.checkbox:checked~ .barra-lateral .linha-3{
    transform: rotate(405deg)translate(-10px,-12px);
    width: 2.5rem;
}
.checkbox:checked~ .barra-lateral .linha-2{
    opacity: 0;

}
/*final nav bar*/
/*Boas vindas*/
.boas-vindas{
    margin-left: 8rem;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;


}

.boas-vindas-titulo{
    font-size: 7rem;
    font-weight: 400;
    animation: boasvindas 2s;

}
.boas-vindas-paragrafo{
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
    animation: boasvindas 1.5s .5s backwards;
}
.header-btn{

   padding: .7rem .5rem;
   font-size: 2rem;
   background-color: transparent;
   outline: none;
   border: none;
   animation: boasvindas 2s .7s backwards;
   transition: all .2s;

}
.btn-sobrenos{
    text-decoration: none;
    color: #090909;
}
.btn-sobrenos:hover{
    color: #d5d5d5;
}
.header-btn:hover{
    color: #d5d5d5;
    font-size: 2.5rem;
}

@keyframes boasvindas{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*final vindas Boas vindas*/
/*corpo*/
.corpo{
    margin-left: 8rem;
    height: 100vh;
    text-align: center;
    display: flex;

}
.corpo-conteudo{

    padding-left: 5rem;
    padding-right: 3rem;
}
.corpo-conteudo p{
    text-align: left;
    font-size: 1.6rem;
    margin: 0;
}

.sub-titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.6rem;

}
.contato i{
    font-size: 1.5rem;
    color: #090909;

}
.contato-email{
    margin-top: 8rem;
}


/* Add */
.container{
    margin-left:  8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.container-titulo{
    display: flex;
}




.dados-wrap{
    margin-top: 2rem;
    margin-bottom: 3rem;
}


.dados{
    font-size: 1.6rem;
    text-align: center;
}

.dados label{
    display: block;
}

.input-info{
    margin-bottom: 1rem;
    text-align: left;
    border: none;
    outline: none;
    border-color: #5e5e5e;
    transition: all 1.5s;
    width: 30rem;
    background: #eee;
    
}
.nasc input{
    width: 13rem;
}
.cadastro-id input{
    width: 12rem;
    
}

.cadastro-admissao input{
    width: 13rem;
}
.input-info:hover{
    border-bottom: .1rem solid #d5d5d5;
    
}
.container-botoes{
    display: flex;
    justify-content: space-between;
    width: 45rem;

}
.botao-voltar{
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

.botao-voltar-link{
    text-decoration: none;
    color: #090909;
    transition: all .1s;
    
}
.botao-voltar-link:hover{
    color: #d5d5d5;
    font-size: 1.8rem;
    background-color: red;
    padding: 1rem;
    
}

.botao-enviar{
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    transition: all .1s;
}
.botao-enviar:hover{
    font-size: 1.8rem;
    background-color: green;
    color: #d5d5d5;
    padding: 1rem;
}



/*final do Add */

/* consulta*/

.input-info-consulta{
    margin-bottom: 1rem;
    text-align: left;
    border: none;
    outline: none;
    border-color: #5e5e5e;
    background: #eee;
    transition: all 1s;
}
.input-info-consulta:hover{
    border-bottom: .1rem solid #5e5e5e;
}
    

.consulta{
    margin: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.conculta-id{
    grid-column: 1/2;
    grid-row: 2/3;
}
.conculta-id input{
    width: 10rem;
}
.consulta-botao{
    grid-column: 2/3;
    grid-row: 3/4;
    border: none;
    background-color: transparent;
    font-size: 1.7rem;
}
.consulta-btn{
    width: 10rem;
    font-size: 1.6rem;
    border-radius: 5rem;
    border: none;
    transition: all .1s;
}
.consulta-btn:hover{
    font-size: 1.7rem;
    border-bottom: .1rem solid #5e5e5e;
    
    
   
}
/*final do consulta*/
/*resultado*/
.resultado {
    font-size: 1.3rem;
    margin-right: 5rem;

}
.resultado form{
    display: inline;

}

.resultado-busca{
    display: none;
}

.resultado-busca-item{
    list-style: none;
    background-color: #eee;
}

.botoes{
    display: flex;
    justify-content: end;
    background-color: #eee;
    

}
.botoes button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.6rem;
    margin: .8rem;


}
.edit-btn:hover{
    background-color: #fff;
    font-size: 1.8rem;


}
.delete-btn:hover{
    background-color: #fff;
    font-size: 1.8rem;


}




/*final do resultado*/