<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/estilo.css">
</head>

<body>
    <!--Barra lateral-->
    <div class="navbar">
        <input type="checkbox" id="click" class="checkbox" hidden >
        <div class="barra-lateral">
            <label for="click">
                <div class="menu">
                    <div class="linha linha-1"></div>
                    <div class="linha linha-2"></div>
                    <div class="linha linha-3"></div>
                </div>
            </label>
            <div class="ano">2020</div>
        </div>
        <nav class="navegacao">
            <div class="navegacao-cabeca">
                <h1 class="navegacao-titulo">RHDR</h1>
                <ul class="navegacao-lista">
                    <li class="navegacao-item">
                        <a href="/" class="navegacao-link">Home</a>
                    </li>
                    <li class="navegacao-item">
                        <a href="/customers/add" class="navegacao-link">Cadastro</a>
                    </li>
                    <li class="navegacao-item">
                        <a href="/customers/list" class="navegacao-link">Consulta</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--final da Barra lateral-->


    <!--Boas vindas-->
    <header class="boas-vindas">
        <div class="boas-vindas-cabeca">
            <h1 class="boas-vindas-titulo">
                Bem vindo ao RHDN
            </h1>
            <p class="boas-vindas-paragrafo">O Seu portal de RH</p>
        </div>
    </header>
    <!--final das Boas vindas-->
    <section class="corpo">

    </section>

</body>

</html>
