<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135910574790-cgmuaa1ufalr4objp5no510gvmstcpll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135910574790-cgmuaa1ufalr4objp5no510gvmstcpll</string>
	<key>API_KEY</key>
	<string>AIzaSyCw2pfiaqaxJxKsRF5ZjeddrirRBzl7AS4</string>
	<key>GCM_SENDER_ID</key>
	<string>135910574790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rhdnApp</string>
	<key>PROJECT_ID</key>
	<string>hrdn-61418</string>
	<key>STORAGE_BUCKET</key>
	<string>hrdn-61418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135910574790:ios:cdb2114f720c67d5e9e5c7</string>
</dict>
</plist>